@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  /* background-color: #202020; */
  color: #0E0A09;
  text-align: left;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

input::placeholder {
  color: #8E8E8E;
}



@media screen and (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }

  h1, h2 {
    font-size: 3rem;
  }
}
